<mat-toolbar color="secondary" class="header">
    <div class="wrapper">
        <span class="header__title">{{headerTitle}}</span>
        <span class="space-filler"></span>
        <span class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link">{{firstLink}}</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">{{secondLink}}</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">{{thirdLink}}</a>
                </li>
            </ul>
        </span>
    </div>
</mat-toolbar>