<mat-toolbar color="primary" class="header">
    <div class="wrapper">
        <span class="header__title">highlightED</span>
        <span class="space-filler"></span>
        <span class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link">link</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">link</a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link">link</a>
                </li>
            </ul>
        </span>
    </div>
</mat-toolbar>