<header class="header">
    <div class="header__wrapper">
        <a href="" title="highlightED Home" class="header__logo"></a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="" class="header__link"></a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link"></a>
                </li>
                <li class="header__item">
                    <a href="" class="header__link"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>