.header {
    height: 80px;
    box-shadow: 0px 2px 2px grey;
}

.wrapper {
    max-width: 864px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.space-filler {
    flex: 1 1 auto;
}

.header__title {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27pt;
    color:#041B15;
}

.header__link {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22pt;
    text-decoration: none;
    color:#041B15;
    margin-left: 30px;
}

.header__list {
    display: inline-flex;
    list-style-type: none;
    width: inherit;
    height: inherit;
}