.header {
    height: 80px;
    box-shadow: 0px 2px 2px grey;
}

.wrapper {
    max-width: 864px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.space-filler {
    flex: 1 1 auto;
}

.header__title {
    font-size: 22pt;
}

.header__link {
    font-size: 18pt;
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
}

.header__list {
    display: inline-flex;
    list-style-type: none;
    width: inherit;
    height: inherit;
}