<div class="wrapper">
    <h2>Notes</h2>
    <mat-accordion multi="true" *ngIf="notes.length > 0">
        <mat-expansion-panel *ngFor="let note of notes">
            <mat-expansion-panel-header>
                {{ note.title }}
            </mat-expansion-panel-header>
            <a href="{{ note.url }}" class="note__url">Visit website</a>
            <p class="note__content">{{ note.content }}</p>
            <button mat-mini-fab color="warn" aria-label="Icon button with a delete icon" (click)="deleteNote(note._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</div>